<%include ../common/header.html%>
<body style="margin-top: 70px;">

<%include ../common/nav.html%>

<div class="container">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><strong>提示</strong></h3>
		</div>
		<div class="panel-body">

			<p class="lead"><%=message%></p>

			<% if (reason.length) { %>
			<blockquote>
				<% if (type == 'success') { %>
				<ul class="list-unstyled text-success">
				<% } else { %>
				<ul class="list-unstyled text-danger">
				<% } %>
					<% reason.forEach(function(reason) { %>
					<li><%-reason%></li>
					<% }) %>
				</ul>
			</blockquote>
			<% } %>

			<% if (type == 'error' && url == '') { %>
			<p class="text-center"><a href="javascript:history.back();">点击这里返回</a></p>
			<% } else { %>
			<p class="text-center"><a href="<%=url%>">点击这里跳转或等待 <span class="text-danger" id="delay"><%=t/1000%></span> 秒自动跳转</a></p>
			<script>
				(function() {
					var delay = $('#delay');
					var t = <%=t%>/1000;
					var type = '<%=type%>';

					(function() {
						var _arguments = arguments;
						setTimeout(function() {
							if(t){
								delay.html( --t );
								_arguments.callee();
							} else {
								window.location = delay.get(0).parentNode.href;
							}
						}, 1000);
					})();

				})();
			</script>
			<% } %>

		</div>
	</div>

</div>
</body>
</html>