<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Music Player</title>
	<link href="css/index.css" type="text/css" rel="stylesheet" >
	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/index.js"></script>
</head>

<body>
	<div class="header" data-drag-window="1">
		<a href="javascript:;" class="btn_prev"></a>
		<a href="javascript:;" class="btn_play" id="btnPlay"></a>
		<a href="javascript:;" class="btn_next"></a>
		
		<div class="process_bar">
			<div class="process_bar_loaded"></div>
			<div class="process_bar_play">
				<div class="processbar_play_btn"></div>
			</div>
		</div>
		
		<div class="close"></div>
	</div>
	
	<ul class="list"></ul>
		
	<div class="footer"></div>
	
	<audio id="player" controls src=""></audio>
</body>
</html>