<%include ../common/header.html%>
<body style="margin-top: 70px;">

<style>
	.img-avatar {max-width: 70px;}
</style>

<%include ../common/nav.html%>

<div class="container">

	<div class="rows">

		<div class="col-md-12">
			
			<h3><%=contentInfo.title%></h3>

			<p>
				<strong>Author:</strong> <span><%=contentInfo.add_username%></span> <span> / </span>
				<strong>Date:</strong> <span><%=contentInfo.add_time%></span> <span> / </span>
				<strong>Hot:</strong> <span><%=contentInfo.view_count%></span>
			</p>

			<p><%-contentInfo.content%></p>

			<div class="rows">
				<div class="col-md-12 bg-success" style="margin-bottom: 20px;">
					<h3><i class="icon-comments"></i> 评论</h3>
				</div>

				<% if (userInfo.uid) { %>
				<div class="col-md-1">
					<dl class="text-center">
						<dt>
							<img src="/resource/avatar/<%=userInfo.avatar%>.jpg" alt="" class="img-circle img-thumbnail img-avatar" />
						</dt>
						<dd>
							<%=userInfo.username%>
						</dd>
					</dl>
				</div>
				<div class="col-md-11">
					<form role="form">
						<div class="form-group">
							<textarea name="content" id="content" cols="30" rows="4" class="form-control" placeholder="请输入您的评论内容"></textarea>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-primary">Send</button>
						</div>
					</form>
				</div>
				<% } else { %>
				<div class="col-md-12 text-center">
					<h4>你还没有登陆，请先<a href="/login">登陆</a></h4>
				</div>
				<% } %>
			</div>

		</div>

	</div>

</div>

</body>
</html>