<%include ../common/header.html%>
<body style="margin-top: 70px;">

<link rel="stylesheet" href="/resource/css/summernote.css" type="text/css" />
<script src="/resource/js/summernote.min.js"></script>

<%include ../common/nav.html%>

<div class="container">

	<%include nav.html%>

	<form role="form" method="post">

		<div class="form-group">
			<label for="title">文章分类：</label>
			<select class="form-control" name="categoryid">
				<option value="0">请选择一个分类</option>
				<% categoryList.length && categoryList.forEach(function(v) { %>
					<% if (v.id == contentInfo.categoryid) { %>
						<option value="<%=v.id%>" selected><%=v.name%></option>
					<% } else { %>
						<option value="<%=v.id%>"><%=v.name%></option>
					<% } %>
				<% }) %>
			</select>
		</div>

		<div class="form-group">
			<label for="title">文章标题：</label>
			<input type="text" class="form-control" id="title" name="title" placeholder="255个字符以内" value="<%=contentInfo.title%>">
		</div>

		<div class="form-group">
			<label for="description">文章简介（500个字符以内）：</label>
			<textarea name="description" id="description" class="form-control" cols="30" rows="5" placeholder="这里可以填写文章的简介，该内容将会在列表中显示，2000个字符以内"><%=contentInfo.description%></textarea>
		</div>

		<div class="form-group">
			<label for="content">文章内容：</label>
			<textarea name="content" id="content" class="form-control" cols="30" rows="10"><%=contentInfo.content%></textarea>
		</div>

		<div class="form-group">
			<label for="password">密码访问（留空则为公开访问）：</label>
			<input type="password" class="form-control" id="password" name="password" placeholder="填写访问该文章的密码" value="<%=contentInfo.password%>">
		</div>

		<div class="form-group">
			<label for="is_comment">评论设置：</label>
			<div class="radio">
				<label>
					<% if (contentInfo.is_comment==-1) { %>
					<input type="radio" value="-1" name="is_comment" checked>使用分类设置
					<% } else { %>
					<input type="radio" value="-1" name="is_comment">使用分类设置
					<% } %>
				</label>
			</div>
			<div class="radio">
				<label>
					<% if (contentInfo.is_comment==1) { %>
					<input type="radio" value="1" name="is_comment" checked>开放评论（用户无需登陆即可发表评论）
					<% } else { %>
					<input type="radio" value="1" name="is_comment">开放评论（用户无需登陆即可发表评论）
					<% } %>
				</label>
			</div>
			<div class="radio">
				<label>
					<% if (contentInfo.is_comment==2) { %>
					<input type="radio" value="2" name="is_comment" checked>注册评论（只有注册并登陆的用户才可以发表评论）
					<% } else { %>
					<input type="radio" value="2" name="is_comment">注册评论（只有注册并登陆的用户才可以发表评论）
					<% } %>
				</label>
			</div>
			<div class="radio">
				<label>
					<% if (contentInfo.is_comment==0) { %>
					<input type="radio" value="0" name="is_comment" checked>不允许评论
					<% } else { %>
					<input type="radio" value="0" name="is_comment">不允许评论
					<% } %>
				</label>
			</div>
		</div>

		<input type="submit" value="确定提交" class="btn btn-primary" />

	</form>

</div>

</body>
</html>
<script>
	//编辑器
	$(document).ready(function() {
		$('#description').summernote({
			height: 100
			//API : http://summernote.org/#/features#api
			/*toolbar: [
			 ['style', ['bold', 'italic', 'underline', 'clear']],
			 ['font', ['strikethrough']],
			 ['fontsize', ['fontsize']],
			 ['color', ['color']],
			 ['para', ['ul', 'ol', 'paragraph']],
			 ['height', ['height']]
			 ]*/
		});
		$('#content').summernote({
			height: 300
		});
	});
</script>