<ul class="nav nav-pills" role="tablist" style="margin-bottom: 20px;">

	<% if (http.action == 'index') { %>
		<li role="presentation" class="active"><a href="/admin/content">列表</a></li>
	<% } else { %>
		<li role="presentation"><a href="/admin/content">列表</a></li>
	<% } %>

	<% if (http.action == 'add') { %>
		<li role="presentation" class="active"><a href="/admin/content/add">添加</a></li>
	<% } else { %>
		<li role="presentation"><a href="/admin/content/add">添加</a></li>
	<% } %>

	<% if (http.action == 'edit') { %>
		<li role="presentation" class="active"><a href="/admin/content/edit/<%=contentInfo.id%>">修改</a></li>
	<% } %>

</ul>