<div class="btn-toolbar pull-right" role="toolbar">
	<div class="btn-group">
		<a class="btn btn-primary">总记录：<%=dataList.count%></a>
		<a class="btn btn-primary">每页：<%=dataList.num%></a>
		<a class="btn btn-primary">页数：<%=dataList.page%> / <%=dataList.total%></a>
	</div>
	<div class="btn-group">
		<% for (var i=1; i<=dataList.total; i++) { %>
			<% if (dataList.page == i) { %>
				<a class="btn btn-info active" href="<%=dataList.jumpUrl%><%=i%>"><%=i%></a>
			<% } else { %>
				<a class="btn btn-info" href="<%=dataList.jumpUrl%><%=i%>"><%=i%></a>
			<% } %>
		<% } %>
	</div>
</div>
