<!-- 这是亲亲宝贝用的参考 -->
<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6970406947389" version="0.0.1">
  <name>亲亲宝贝</name>
  <description>qinqinbaby.com</description>
  <author email="developer@apicloud.com" href="http://www.apicloud.com">Developer</author>
  <content src="index.html"/>
  <preference name="pageBounce" value="false"/>
  <preference name="appBackground" value="rgba(0,0,0,0.0)"/>
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
  <preference name="hScrollBarEnabled" value="true"/>
  <preference name="vScrollBarEnabled" value="true"/>
  <preference name="autoLaunch" value="true"/>
  <preference name="fullScreen" value="false"/>
  <preference name="autoUpdate" value="true"/>
  <preference name="smartUpdate" value="true"/>
  <preference name="debug" value="true"/>
  <preference name="iOS7StatusBarAppearance" value="true"/>
  <preference name="softInputMode" value="resize"/>
  <permission name="readPhoneState"/>
  <permission name="call"/>
  <permission name="sms"/>
  <permission name="camera"/>
  <permission name="record"/>
  <permission name="location"/>
  <permission name="fileSystem"/>
  <permission name="internet"/>
  <permission name="bootCompleted"/>
  <permission name="hardware"/>
  <permission name="contact"/>
  <access origin="*"/>
  <feature name="sinaWeiBo">
    <param name="urlScheme" value="wb3863915686"/>
    <param name="apiKey" value="3863915686"/>
    <param name="registUrl" value="http://www.apicloud.com"/>
  </feature>
  <feature name="qq">
    <param name="urlScheme" value="tencent101064640"/>
    <param name="apiKey" value="101064640"/>
  </feature>
  <feature name="ajpush">
    <param name="app_key" value="6c5398a594000a15bd0989ad"/>
    <param name="channel" value="all"/>
  </feature>
</widget>


<!-- 下面是完整的参考 -->
<widget id="A12345678901"  version="0.0.1">
    <name>API Example</name>
    <description>
        API Example App.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        APICloud.SIR
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="pageBounce" value="false" />
    <preference name="appBackground" value="#000" />
    <preference name="windowBackground" value="rgba(0,0,0,0.0)" />
    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)" />
    <preference name="hScrollBarEnabled" value="true" />
    <preference name="vScrollBarEnabled" value="true" />
    <preference name="autoLaunch" value="true" />
    <preference name="smartUpdate" value="false" />
    <preference name="fullScreen" value="false" />
    <preference name="iOS7StatusBarAppearance" value="true" />
    <preference name="autoUpdate" value="false" />
    <permission name="readPhoneState" />
    <permission name="call" />
    <permission name="sms" />
    <permission name="camera" />
    <permission name="record" />
    <permission name="location" />
    <permission name="fileSystem" />
    <permission name="internet" />
    <permission name="bootCompleted" />
    <permission name="hardware" />
    <permission name="contact" />
    <feature name="weiXin">
        <param name="urlScheme" value="wx7779c7c063a9d4d9" />
        <param name="apiKey" value="wx7779c7c063a9d4d9" />
    </feature>
    <feature name="sinaWeiBo">
        <param name="urlScheme" value="wb1062272715" />
        <param name="apiKey" value="1062272715" />
    </feature>
    <feature name="aliPay">
         <param name="urlScheme" value="AliPayA00000000001" />
    </feature>
    <feature name="baiduLocation">
        <param name="apiKey" value="fef72715gshjelke" />
    </feature>
    <feature name="baiduMap">
        <param name="android_api_key" value="fef72715gshjelke" />
        <param name="ios_api_key" value="fef72715gshjelke" />
    </feature>
    <feature name="qq">
        <param name="urlScheme" value="tencent9c7c063a9d4d9" />
        <param name="apiKey" value="9c7c063a9d4d9" />
    </feature>
</widget>